<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div>

        <h2>Helpdesk Talks wiki</h2>

        <p>This website template is in alpha version.</p>

        <h3>Objectives</h3>

        <ol>
            <li>Lightweight chat application </li>
            <li>Automated testing and continuous integration</li>
            <li>Client/server cross platform -&gt; node.js &amp; native mobile appliactions</li>
            <li>Client/server module application with dependency loader</li>
            <li>Client/server internationalization &amp; multi language support </li>
        </ol>

        <h3>Browser Support</h3>

        <ol>
            <li>Chrome: (Current - 1) or Current</li>
            <li>Firefox: (Current - 1) or Current</li>
            <li>Safari: 5.1+</li>
            <li>Opera: 12.1x, (Current - 1) or Current</li>
            <li>IE 8 (using ES5 polyfill) NOT SUPPORTED needs "getComputedStyle" shim</li>
            <li>
                IE9+ NOT SUPPORTED ->
                <ol>
                    <li>history api not supported thus using history.js in html4 mode. This behaviour triggers an error when using querystring lib </li>
                    <li>font awsome icons display smaller</li>
                </ol>
            </li>
            <li>IE10+ OK </li>
        </ol>

        <h3>View Models</h3>
        <div class="image-model-box">
            <img src="./models/HelpdeskViewModels.png" />
        </div>

        <h3>Backend Models</h3>
        <div class="image-model-box">
            <img src="./models/HelpdeskModels.png" />
        </div>


    </div>
</div>




