<div class="ui-crudExtendedSample">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>

<link href="../crudSamples.css" rel="stylesheet" />
