<div class="ui-crudExtendedSample">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>

<link href="../crudSamples.css" rel="stylesheet" />
<script>
    require([
    "jquery",
    "jqueryui",

    "scripts/crud/common.widget.fieldItem",
    "scripts/crud/common.widget.crud.base",
    "scripts/crud/common.widget.crud",
    "scripts/crud/common.widget.crud.filter",
    "scripts/crud/common.widget.crud.grid",
    "scripts/crud/common.widget.crud.form",
    "scripts/crud/common.widget.grid.pagination",

    "/uicontrols/crud/crudSamplesCustomerData.js",
    "/uicontrols/crud/crudSamplesCustomerDefaultOptions.js",

    "crudProductExtended.AjaxFake.js",
    "crudProductExtended.FilterModel.js",
    "crudProductExtended.FormModel.js",
    "crudProductExtended.GridModel.js",
    "crudProductExtended.Widget.js",
    "crudPage.js",
    ],
function ($, jqUI) {

    jQuery(document).ready(function () {

        jQuery('body')
            .find('h1:first')
                .html('Crud - Extended widget')
            .end()
            .find('div.ui-crudExtendedSample:first')
                .crudExtendedSample()
            .end();

    });

});
</script>