<script type="text/javascript">

    VsixMvcAppResult.Ajax.UserMenu(
        function (data, textStatus, jqXHR) {

            jQuery('ul.ui-menuTreeSample:first')
                .treeList({
                    dataBound: function (e) {
                        jQuery(this).hide().removeClass('ui-helper-hidden').show('blind');
                    },
                    selected: function (e, liData)
                    {
                        console.log(liData);
                    }
                })
                .treeList('bind', data);
        },
        function (jqXHR, textStatus, errorThrown) {

        },
        function (jqXHR, textStatus, errorThrown) {

        });

</script>

<style type="text/css">
    .ui-menuTree-contentPage { padding: 1em;background-image:none !important; }
    .ui-menuTree-contentPage ul.ui-menuTreeSample { border-width: 0; }
</style>

<div class="ui-menuTree-contentPage ui-state-default">

    <h3>Menu tree mode</h3>
    <ul class="ui-menuTreeSample ui-helper-hidden"></ul>

</div>
