<div class="ui-customerCrud ui-helper-hidden"></div>
<link href="../crudCommon/crudSamples.css" rel="stylesheet" />
<style type="text/css">
    .ui-crudGrid-body { height: 10em; overflow: auto; }
</style>
