body {overflow:hidden; /*prevents double scrolling on the page*/}
.ui-pageHolder .ui-sitePage .ui-site-title  {display:none;/**/}

.ui-helpdesk-talks-message-container { position:relative;background-image: none !important;width:99.5%;overflow:hidden;}

.ui-helpdesk-talks-message-window {overflow-y:auto;height:90%;width:100%;top:0;margin:0em 0 0 0;position:absolute;}
.ui-helpdesk-talks-message-window .ui-message {clear:both;margin:0.2em 0 0.2em 0;float:left;max-width:90%;padding:0.5em;}
.ui-helpdesk-talks-message-window .ui-message div {float:left;margin:0 0.2em 0 0.2em;}
.ui-helpdesk-talks-message-window .ui-message .ui-message-who {font-weight:normal;}
.ui-helpdesk-talks-message-window .ui-message .ui-message-text {font-weight:normal;word-break: break-word;}
.ui-helpdesk-talks-message-window .ui-message .ui-message-idMessage {display:none;}
.ui-helpdesk-talks-message-window .ui-message .ui-message-datePosted {font-size:0.7em;margin: 0.4em 0 0 0;float:right;clear:both;}
.ui-helpdesk-talks-message-window .ui-message.ui-isEmployee {float:right;}
.ui-helpdesk-talks-message-window .ui-message.ui-isCurrentUser .ui-message-colon {display:none;}

.ui-widgetModel {width:100%;bottom:0;position:absolute;display:table;padding:0.5em 0 0.5em 0;}
.ui-widgetModel .ui-widgetModel-inputLabel {width:0 !important;}
.ui-widgetModel .ui-widgetModel-inputValue {width: 100% !important;}
.ui-widgetModel .ui-widgetModelItem {padding:0 0 0 0;margin:0 0 0 0;}
.ui-widgetModel .ui-widgetModel-content {padding:0 0 0 0 !important;}
.ui-widgetModel .block-compose {display:table-row;}
.ui-widgetModel .block-compose .table-cell {display:table-cell;padding:1em;vertical-align:bottom;}
.ui-widgetModel .block-compose .buttons-left {width:2em;}
.ui-widgetModel .block-compose .input-container {width:100%;}
.ui-widgetModel .block-compose .buttons-right {width:2em;}
.ui-widgetModel .block-compose button {padding:0.2em 0.5em 0.2em 0.5em; border:none;background:none;font-size:1.5em;}
.ui-widgetModel .block-compose .input-container {}
.ui-widgetModel .block-compose .input-container .input { word-wrap: break-word;word-break: break-word;white-space: pre-wrap;padding:1em;min-height: 1em;max-height: 3.6em;overflow-y: auto;overflow-x: hidden;border-radius: 0.5em;background-color: #fff;}
