<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-arquia-talks">

    <div class="ui-arquia-talks-summary-container ">
        <h3>{{{__ "Arquia.Talks.Summary.Title"}}}</h3>
        <p>
            <i class="ui-arquia-talks-summary-userIcon fa fa-user-plus ui-state-default"></i>
            {{{__ "Arquia.Talks.Summary.Description"}}}
        </p>

        <div class="ui-helper-clearfix"></div>


    </div>

    <div class="ui-arquia-talks-summary-crud ui-helper-hidden ui-display-table"></div>
    <link href="../arquiaCommon/arquiaCrudCommon.css" rel="stylesheet" />


</div>