
<div class="ui-cirDataEntry">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>

<link href="/public/views/crud/crudExtended/crudExtended.css" rel="stylesheet" />
<script src="/public/views/crud/crudExtended/cir.widget.crudProduct.js"></script>
<script src="/public/views/crud/crudCustomerData.js"></script>
<script src="/public/views/crud/crudCustomerDefaultOptions.js"></script>
<script src="/public/views/crud/crudExtended/cir.widget.cirDataEntry.js"></script>
<script src="/public/views/crud/crudExtended/crudExtended.js"></script>