<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ">
        <h3>{{{__ "Helpdesk.Talks.Wellcome.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-wellcome-userIcon fa fa-hand-o-right ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Wellcome.Description"}}}
        </p>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox">
            <button class="ui-helpdesk-talks-wellcome-next"><i class="fa fa-hand-o-right"></i> {{{__ "Helpdesk.Talks.Wellcome.Next"}}}</button>
        </div>
    </div>
</div>




