<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ">
        <h3>{{{__ "Helpdesk.Talks.Wellcome.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-wellcome-userIcon fa fa-user ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Wellcome.Description"}}}
        </p>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox">
            <button class="ui-helpdesk-talks-wellcome-next"><i class="fa fa-hand-o-right"></i> {{{__ "Helpdesk.Talks.Wellcome.Next"}}}</button>
        </div>
    </div>

    <div>

        <h3>Helpdesk Talks</h3>

        <p>This website template is in alpha version.</p>

        <p>Objectives</p>

        <ol>
            <li>Lightweight chat application </li>
            <li>Automated testing and continuous integration</li>
            <li>Client/server cross platform -&gt; node.js &amp; native mobile appliactions</li>
            <li>Client/server module application with dependency loader</li>
            <li>Client/server internationalization &amp; multi language support </li>
        </ol>

        <p>Browser Support</p>

        <ol>
            <li>Chrome: (Current - 1) or Current</li>
            <li>Firefox: (Current - 1) or Current</li>
            <li>Safari: 5.1+</li>
            <li>Opera: 12.1x, (Current - 1) or Current</li>
            <li>IE 8 (using ES5 polyfill) NOT SUPPORTED needs "getComputedStyle" shim</li>
            <li>
                IE9+ NOT SUPPORTED ->
                <ol>
                    <li>div[contenteditable] not supported. Chat window uses it</li>
                    <li>history api not supported thus using history.js in html4 mode. This behaviour triggers an error when using querystring lib </li>
                    <li>font awsome icons display smaller</li>
                </ol>
            </li>
            <li>IE10+ OK </li>

        </ol>

    </div>
</div>




