<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-arquia-talks">
    <div class="ui-arquia-talks-wellcome-container ">
        <h3>{{{__ "Arquia.Talks.Wellcome.Title"}}}</h3>
        <p>
            <i class="ui-arquia-talks-wellcome-userIcon fa fa-user ui-state-default"></i>
            {{{__ "Arquia.Talks.Wellcome.Description"}}}
        </p>
        <div class="ui-arquia-talks-wellcome-buttonsBox">
            <button class="ui-arquia-talks-wellcome-next">{{{__ "Arquia.Talks.Wellcome.Next"}}}</button>
        </div>
    </div>
    <div class="ui-helper-clearfix"></div>
</div>

<div class="ui-helper-clearfix"></div>