
<div class="ui-crudExtendedSample">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>


<!--
    <link href="/public/views/crud/crudSamples.css" rel="stylesheet" />
    <script src="/public/views/crud/crudSamplesCustomerData.js"></script>
    <script src="/public/views/crud/crudSamplesCustomerDefaultOptions.js"></script>
    <script src="/public/views/crud/crudFormExtended/crudProductExtended.js"></script>
    <script src="/public/views/crud/crudFormExtended/crudPage.js"></script>
-->


<link href="../crudSamples.css" rel="stylesheet" />
<script src="../crudSamplesCustomerData.js"></script>
<script src="../crudSamplesCustomerDefaultOptions.js"></script>

<script src="crudProductExtended.js"></script>
<script src="crudPage.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('body')
            .find('h1:first')
                .html('Crud - Extended widget')
            .end()
            .find('div.ui-crudExtendedSample:first')
                .crudExtendedSample()
            .end();

    });
</script>
