<div class="ui-customerCrud ui-helper-hidden"></div>
<link href="../crudSamples.css" rel="stylesheet" />


<script>

    require([
        "jquery",
        "jqueryui",

        "scripts/crud/common.widget.fieldItem",
        "scripts/crud/common.widget.crud.base",
        "scripts/crud/common.widget.crud",
        "scripts/crud/common.widget.crud.filter",
        "scripts/crud/common.widget.crud.grid",
        "scripts/crud/common.widget.crud.form",
        "scripts/crud/common.widget.grid.pagination",

        "/uicontrols/crud/crudSamplesCustomerData.js",
        "/uicontrols/crud/crudSamplesCustomerDefaultOptions.js",
    ],
    function ($, jqUI, f) {

        jQuery(document).ready(function () {

            jQuery('body')
                .find('h1:first')
                    .html('Crud widget - Readonly basic grid')
                .end()
                .find('div.ui-customerCrud:first')
                    .crud(crudCustomerDefaultOptions())
                    .crud('gridButtonsVisible', false)
                    .crud('gridPagerVisible', false)
                    .crud('gridSearch')

                    .hide()
                    .removeClass('ui-helper-hidden')
                    .fadeIn()
                .end();

        });

    });
</script>