.ui-productCrud {}
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-searchCustomerIcon,
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-removeCustomerIcon { width: 1em; height: 1em;float:left;cursor:pointer; margin: 0 0.5em 0 0;padding:0.2em; }
.ui-productCrud .ui-crudGrid .ui-crudGrid-productId {width:20%;}
.ui-productCrud .ui-crudGrid .ui-crudGrid-productTypeDesc {width:60%;}
.ui-productCrud .ui-crudGrid .ui-crudGrid-fechaDesde {width:20%;}


.ui-customerCrud .ui-crudGrid .ui-crudGrid-nombre {width:50% !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-nombre a {text-decoration:underline !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-NumDocumento {width:50% !important;text-align:right;}
