


<link href="index.css" type="text/css" rel="stylesheet" />
<link href="crudSamples.css" rel="stylesheet" />

<div class="ui-helpdesk-talks ui-helper-hidden">
    <div class="ui-helpdesk-talks-summary-container ui-helper-hidden">
        <h3>{{{__ "Helpdesk.Talks.Employee.Summary.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-summary-userIcon fa fa-user-plus ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Employee.Summary.Description"}}}
        </p>
        <div class="ui-helper-clearfix"></div>
    </div>

    <div class="ui-helpdesk-talks-summary-crud ui-helper-hidden"></div>

    <div class="ui-crudExtendedSample">
        <div class="ui-productCrud ui-helper-hidden"></div>
        <div class="ui-customerCrud ui-helper-hidden"></div>
    </div>

</div>

