
<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-helpdesk-talks ui-helper-hidden">
    <div class="ui-crudExtendedSample">
        <div class="ui-productCrud "></div>
        <div class="ui-customerCrud "></div>
        <div class="ui-employeeCrud "></div>
    </div>
</div>
