


.ui-productCrud {}
.ui-productCrud .ui-productCrud-form .ui-productCrud-form-searchCustomerIcon,
.ui-productCrud .ui-productCrud-form .ui-productCrud-form-removeCustomerIcon,
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-searchCustomerIcon,
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-removeCustomerIcon,
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-searchEmplyeeIcon,
.ui-productCrud .ui-productCrud-filter .ui-productCrud-filter-removeEmployeeIcon { width: 1em; height: 1em;float:left;cursor:pointer; margin: 0 0.5em 0 0;padding:0.2em; }

.ui-productCrud .ui-crudGrid-subject {width:80%;}
.ui-productCrud .ui-crudGrid-body .ui-crudGrid-subject {text-align:left !important;}
.ui-productCrud .ui-crudGrid-dateLastMessage {width:20%;}
.ui-productCrud .ui-crudGrid-body .ui-crudGrid-dateLastMessage { text-align:right !important;padding:0 1em 0 0; }
.ui-productCrud .ui-crudGrid-dateLastMessage .ui-text-circle{border:none !important;float:left;font-size:0.8em;}

.ui-customerCrud .ui-crudGrid .ui-crudGrid-customerName {width:49.9% !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-customerName a {text-decoration:underline !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-customerCardId {width:49.9% !important;text-align:right;}

.ui-employeeCrud .ui-crudGrid .ui-crudGrid-employeeName {width:49.9% !important;}
.ui-employeeCrud .ui-crudGrid .ui-crudGrid-employeeName a {text-decoration:underline !important;}
.ui-employeeCrud .ui-crudGrid .ui-crudGrid-employeeEmail  {width:49.9% !important;}