
<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-helpdesk-talks ui-helper-hidden">
    <div class="ui-crudExtendedSample">
        <div class="ui-productCrud ui-helper-hidden"></div>
        <div class="ui-customerCrud ui-helper-hidden"></div>
        <div class="ui-employeeCrud ui-helper-hidden"></div>
    </div>
</div>
