.ui-progress-feedback {display:none; z-index:99999;background: none;opacity: 1;filter: Alpha(Opacity=100);}
.ui-progress-feedback .ui-widget {top:50%;text-align:center;padding:2em 0 2em 0;position:relative;width:80%;margin:0 auto 0 auto;}


.ui-crud .ui-crud-error {padding:0.2em;border:0; margin:0.5em 0 0 0.5em;font-weight:normal;}
.ui-crud .ui-crud-info {padding:0.2em !important;padding:0.2em;border:0; margin:0.5em 0 0 0.5em;font-weight:normal;}
.ui-crud .ui-ribbonButtons { border-bottom:  0em;padding:0em;}
.ui-crud .ui-ribbonButtons button {margin-bottom: 0.1em !important;font-weight:normal;border:none;}
.ui-crud .ui-ribbonButtons span.ui-button-text {/*font-size:1.1em !important;*/}
.ui-crud .ui-fieldItem {}
.ui-crud .ui-fieldItem .ui-field-box {}
.ui-crud .ui-fieldItem .ui-field-box button {border:0 solid !important;background:none !important;}
.ui-crud .ui-fieldItem .ui-field-box button .ui-button-text {padding:0 0 0 2em !important;}
.ui-crud .ui-fieldItem .ui-field-box .ui-fieldName {}
.ui-crud .ui-fieldItem .ui-field-box .ui-fieldValue {}
.ui-crud .ui-crudFilter { padding:0em !important; border:none;}
.ui-crud .ui-crudFilter h3 {padding:0.5em 0.5em 0.5em 0em;border:0; background:none;}
.ui-crud .ui-crudFilter .ui-crudFilter-form { background:none;padding:1em !important; }
.ui-crud .ui-crudFilter select {width:22.5em;padding:0.2em;}
.ui-crud .ui-crudFilter input {width:22em;padding:0.2em;}
.ui-crud .ui-crudFilter .ui-field-box {margin:0.5em 0 0 0;}
.ui-crud .ui-crudFilter .ui-fieldName {float:left;width:15em;}
.ui-crud .ui-crudGrid-pager.ui-widget-header {border:none;}
.ui-crud .ui-crudGrid-header.ui-widget-header {border:none;}
.ui-crud .ui-crudGrid-dataRow.ui-widget-content {border-left:none;border-top:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-dataRow{}
.ui-crud .ui-crudGrid .ui-crudGrid-dataRowAlt {background-color:#ffe199;}
.ui-crud .ui-crudGrid .ui-crudGrid-dataRow:hover, 
.ui-crud .ui-crudGrid .ui-crudGrid-dataRowAlt:hover {background-color:#ff9900;}
.ui-crud .ui-crudGrid .ui-crudGrid-header {padding:0.5em 2em 0.5em 0; overflow:hidden;border-bottom:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-header table th {font-weight:bold;}
.ui-crud .ui-crudGrid .ui-crudGrid-header table ,
.ui-crud .ui-crudGrid .ui-crudGrid-header table th,
.ui-crud .ui-crudGrid .ui-crudGrid-body table ,
.ui-crud .ui-crudGrid .ui-crudGrid-body table td {table-layout:fixed;overflow:hidden; white-space: nowrap;width:100%;vertical-align:middle;}
.ui-crud .ui-crudGrid .ui-crudGrid-body {overflow:auto;overflow-y:scroll;padding-bottom:0.5em;}
.ui-crud .ui-crudGrid .ui-crudGrid-body {height: 5em;}
.ui-crud .ui-crudGrid .ui-crudGrid-body .ui-crudGrid_SelectedRow {background-color:#FF9900;}
.ui-crud .ui-crudGrid .ui-crudGrid-body td {/*border:1px solid #CCC;*/padding:0em 0.2em 0em 0.2em ;font-weight:normal;}
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox {width: 100%; border-collapse: collapse;}
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox tr.ui-crudGrid-rowStyle,
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox tr.ui-crudGrid-rowStyleAlternated {height: 2em;}
.ui-crud .ui-crudGrid .ui-crudGrid-action {font-size:1em;width:1em;margin:0 auto 0 auto;cursor:pointer;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager {font-weight:bold;	text-align:left;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager a {text-decoration:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totalRows {float:right;margin:0.5em 0 0 0;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager td {cursor:pointer; padding:0.3em;margin:0 0.3em 0 0.3em;}
.ui-crud .ui-crudForm { padding:0em !important; }
.ui-crud .ui-crudForm h3 {padding: 0em 0.5em 0em 0em;margin:0.5em 0 0.5em 0; border:0; background:none;}
.ui-crud .ui-crudForm .ui-crudForm-form { background:none;padding:1em !important;}
.ui-crud .ui-crudForm select {width:22.5em;padding:0.2em;}
.ui-crud .ui-crudForm input {width:22em;padding:0.2em;}
.ui-crud .ui-crudForm .ui-field-box {margin:0.5em 0 0 0;}
.ui-crud .ui-crudForm .ui-fieldName {float:left;width:15em;}



/* GENERIC FORM */
.ui-crud .ui-crudForm .ui-widgetModelItem {padding:.5em .5em .5em .5em;clear:both;margin:0em 0 0 0; border-width:0 !important;}
.ui-crud .ui-crudForm .ui-widgetModelItem div.ui-widgetModel-inputLabel {padding:0 0 0 0;width:24.5%;float:left;}
.ui-crud .ui-crudForm .ui-widgetModelItem div.ui-widgetModel-inputValue {width:75%;float:left;}
.ui-crud .ui-crudForm .ui-widgetModelItem div.ui-widgetModel-inputValue input {}
.ui-crud .ui-crudForm .ui-widgetModelItem div.ui-widgetModel-inputError {clear:both;margin: 2em 0 0em 0 !important; width:100%;border:0;padding:0.2em;}
.ui-crud .ui-crudForm .ui-widgetModelItem.ui-state-error {background-image:none;}
.ui-crud .ui-crudForm .ui-widgetModelItem.ui-state-error div.ui-widgetModel-inputLabel {color:initial;}
.ui-crud .ui-crudForm .ui-widgetModelItem.ui-state-error div.ui-widgetModel-inputValue {color:initial;}
