.ui-progress-feedback {display:none; background: none;opacity: 1;filter: Alpha(Opacity=100);}
.ui-progress-feedback .ui-widget {top:50%;text-align:center;padding:2em 0 2em 0;position:relative;width:80%;margin:0 auto 0 auto;}

.ui-crud h3 {padding: 0.5em;margin:0.5em 0 0.5em 0;}
/*override ribbon buttons*/
.ui-crud .ui-ribbonButtons { border-bottom:0em;border-top:0em;padding:0em;background-image:none;}
.ui-crud .ui-ribbonButtons * {background-image:none;}
.ui-crud .ui-ribbonButtons button {margin-bottom: 0.1em !important;font-weight:normal;border:none;}
.ui-crud .ui-ribbonButtons span.ui-button-text {/*font-size:1.1em !important;*/}
/*override widgetModel*/
.ui-crud .ui-widgetModel div.ui-widgetModel-content {padding:0 0 0 0;}
.ui-crud .ui-widgetModel .ui-widgetModelItem {padding:.5em .5em .5em 0em;}

.ui-crud .ui-crud-messages {background-image:none;border-top:none;border-bottom:none;display:block;min-height:2em;}
.ui-crud .ui-crud-messages .ui-crud-title {padding:0.5em 0.5em 0 0.5em;text-align:center;}
.ui-crud .ui-crud-messages .ui-crud-error {padding:0.2em;border:0; font-weight:normal;text-align:center;}
.ui-crud .ui-crud-messages .ui-crud-info {padding:0.2em;border:0; font-weight:normal;text-align:center;}
.ui-crud .ui-crudFilter { padding:0em !important; border:none;}
.ui-crud .ui-crudFilter .ui-crudFilter-form {padding:0.5em 0.5em 0.5em 0.5em;background-image:none;}
.ui-crud .ui-crudFilter .ui-widgetModel-content {background-image:none;}
.ui-crud .ui-crudGrid-pager.ui-widget-header {border:none;}
.ui-crud .ui-crudGrid-header.ui-widget-header {border:none;}
.ui-crud .ui-crudGrid-dataRow.ui-widget-content {border-left:none;border-top:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-dataRow{background-image:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-header {padding:0.5em 2em 0.5em 0; overflow:hidden;border-bottom:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-header div {float:left;font-weight:bold;}
/*
.ui-crud .ui-crudGrid .ui-crudGrid-header table th {font-weight:bold;}
.ui-crud .ui-crudGrid .ui-crudGrid-header table ,
.ui-crud .ui-crudGrid .ui-crudGrid-header table th,
.ui-crud .ui-crudGrid .ui-crudGrid-body table ,
.ui-crud .ui-crudGrid .ui-crudGrid-body table td {table-layout:fixed;overflow:hidden; white-space: nowrap;width:100%;vertical-align:middle;}
*/
.ui-crud .ui-crudGrid .ui-crudGrid-body {overflow:auto;overflow-y:scroll;padding-bottom:0.5em;}
.ui-crud .ui-crudGrid .ui-crudGrid-body {height: 5em;}
.ui-crud .ui-crudGrid .ui-crudGrid-body.ui-widget-content {background-image:none;}
.ui-crud .ui-crudGrid .ui-crudGrid-body .ui-crudGrid-dataRow div {float:left;width:auto;padding:0em 0.2em 0em 0.2em ;font-weight:normal;}
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox {width: 100%; border-collapse: collapse;}
/*
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox tr.ui-crudGrid-rowStyle,
.ui-crud .ui-crudGrid .ui-crudGrid-body-tableBox tr.ui-crudGrid-rowStyleAlternated {height: 2em;}
.ui-crud .ui-crudGrid .ui-crudGrid-action {font-size:1em;width:1em;margin:0 auto 0 auto;cursor:pointer;}
    */

.ui-crud .ui-crudGrid .ui-crudGrid-pager {font-weight:normal;	text-align:left;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-navBar {text-align:center;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-navBar {margin:0 auto 0 auto;width:99%;border:none !important;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-navBar ul.ui-helper-clearfix {margin:0.5em 0 0 0;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-navBar ul.ui-helper-clearfix li {cursor:pointer; padding:0.3em;margin:0 0.3em 0 0.3em;float:left;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totals {padding:0.5em 0.5em 0.5em 0em;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totals div {}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totals .ui-gridPagination-totalRows {float:left;margin:0 0 0 0.5em;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totals .ui-gridPagination-pageSizePicker {float:right;}
.ui-crud .ui-crudGrid .ui-crudGrid-pager .ui-gridPagination-totals .ui-gridPagination-pageSizePicker select {padding:0 0 0 0;}



.ui-crud .ui-crudForm { padding:0em !important; }
.ui-crud .ui-crudForm .ui-crudForm-form { padding:1em !important;}
.ui-crud .ui-crudForm .ui-widget-content{ background-image:none !important;}
.ui-crud .ui-crudForm .ui-crudForm-formContent {padding:0.5em;}