.ui-helpdesk-talks-summary-container { background-image: none !important;padding:0em 0.5em 0 0.5em; }
.ui-helpdesk-talks-summary-container .ui-helpdesk-talks-summary-userIcon {font-size:4em; padding:0.2em;float:left;margin:0 0.5em 0.5em 0;cursor:pointer;}
.ui-helpdesk-talks-summary-container ul.ui-helpdesk-talks-summary-list { border-width: 0; }

/*
.ui-helpdesk-talks-summary-crud {    width:99% !important;    overflow:hidden;        display:table !important;table-layout: fixed;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-dataRow .ui-widgetGrid-column  {border-right-width:0;padding:1em 0em 1em 0!important;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-subject {width:74.9%;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-body .ui-crudGrid-subject {text-align:left !important;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-dateLastMessage {width:24.9%;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-dateLastMessage .ui-text-circle{border:none !important;float:left;font-size:0.8em;}
*/

.ui-helpdesk-talks-summary-crud .ui-crudGrid-dataRow .ui-widgetGrid-column  {border-right-width:0;padding:1em 0em 1em 0!important;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-subject {width:74.9%;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-body .ui-crudGrid-subject {text-align:left !important;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-dateLastMessage {width:24.9%;}
.ui-helpdesk-talks-summary-crud .ui-crudGrid-dateLastMessage .ui-text-circle{border:none !important;float:left;font-size:0.8em;}
