<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-summary-container ">
        <h3>{{{__ "Helpdesk.Talks.Summary.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-summary-userIcon fa fa-user-plus ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Summary.Description"}}}
        </p>
        <div class="ui-helper-clearfix"></div>
    </div>
    <!--<div class="ui-helpdesk-talks-summary-crud ui-helper-hidden ui-display-table"></div>-->
    <div class="ui-helpdesk-talks-summary-crud ui-helper-hidden"></div>
</div>