html,body{margin:0; padding:0;}
/*html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
ul,ol {list-style:none;}*/
fieldset,img,hr{border:none;}
caption,th {text-align:left;}
td {vertical-align:middle;}
table {border-spacing: 0;border-collapse: separate;}
hr {border-top-width:0.1em !important;border-bottom-width:0 !important;}
body{padding:0em 0.5em 0.5em 0.5em;border:0;font-size:1em !important; border:0 !important;}
pre.ui-widget-content{font-size:1em !important;padding:0.5em;}
select {padding:0.5em 0.5em 0.5em 0.5em;}
input[type=text], input[type=password], input[type=email], select {padding:0.5em 0em 0.5em 0.5em;margin:0 0 0 0;font-weight:normal !important;}
input[type=checkbox].ui-widget-content { border:0px solid transparent !important; }
input[type='radio'] {height:1em;width:1em;}
body{padding:0em;background-image:none !important;}
html, body {height:100%;/*display:table;*/width:100%;}
h1 {text-align:center;}
* { outline:transparent solid 0em;-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); }