html{
  font-size: 0.8em !important;
}


@media screen and (min-width: 600px){
  html{ font-size: 0.8em !important; }
}
@media screen and (min-width: 800px){
  html{ font-size: 0.8em !important; }
}
@media screen and (min-width: 1024px){
  html{ font-size: 0.9em !important; }
}
@media screen and (min-width: 1300px){
  html{ font-size: 1em !important; }
}



/*
@media screen and (min-width: 1300px){
  html{
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1750px){
  html{
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1900px){
  html{
    font-size: 1.3em;
  }
}
@media screen and (min-width: 2100px){
  html{
    font-size: 1.4em;
  }
}
*/