.ui-sitePage{display:table; width:100%;height:100%; margin:0 auto 0 auto;
             /*DO NOT Remove position:relative -> child position:absolute content will take this as parent relative */
             position:relative;
             /*DO NOT Remove position:relative*/
}
.ui-sitePage .ui-site-title,
.ui-sitePage .ui-site-header,
.ui-sitePage .ui-crud  {border-width:0em !important;}
.ui-sitePage .ui-site-nameBox{font-size:1em;padding:1em;margin:0em;}
.ui-sitePage .ui-site-title {margin:0em 0em 0em 0em;padding:1em; text-align:center;}
.ui-sitePage .ui-site-title * {}
.ui-sitePage .ui-site-title h1{font-size: 1em;margin:0em;/*font-weight:normal;*/}
.ui-sitePage .ui-siteContent  {background-image:none;width:100%;margin:0 auto 0 auto;}
.ui-sitePage .ui-site-templateInfo {padding:2em;}
/* header */
.ui-sitePage .ui-site-header {position: relative;margin:0em 0em 0em 0em ;padding:0.2em;}
/* menu toggle */
.ui-mainMenuToggle {display:block !important;cursor:pointer;}
.ui-mainMenuToggle{position:absolute;top:1em;right:0em;width:6em;}
.ui-mainMenuToggle .ui-mainMenuToggle-icon {float:left;}
.ui-mainMenuToggle .ui-mainMenuToggle-text {float:left;margin:0.4em 0 0 0.5em;font-weight:normal;}
/* menu panel  */
.ui-mainMenu { width:99%; position:absolute !important;min-height:100%;overflow:auto !important;background-image:none !important;display:none;}
.ui-mainMenu .ui-site-version {font-weight:normal;font-size:0.8em;margin: 17em 0 0 0;text-align:center;position:absolute;bottom:0;width:99%;}
/*menu Mode MenuList*/
.ui-mainMenu {position:relative;}
.ui-mainMenu .ui-menuList {border-width:0;padding:0;margin:03em 0 3em 0;overflow: visible !important;}
.ui-mainMenu .ui-menuList .ui-menuSlide-backButton {width:10em;position:absolute;top:0;margin:-2.5em 0 0 0;border-width:0;background-image:none;font-weight:normal;}
.ui-mainMenu .ui-menuList .ui-menuSlide-backButton.ui-helper-hidden {display:block;visibility:hidden;}
.ui-mainMenu .ui-menuList .ui-menuList-item {margin:0;border-bottom-width:0;}
.ui-mainMenu .ui-menuList .ui-menuList-itemLink {padding:2em 0.5em 2em 0.5em;}
.ui-mainMenu .ui-menuList .ui-menuList-item.ui-menuList-item-last {margin:0;border-bottom-width:0.1em;}


/*
@media all and (orientation: portrait)
{

}
    */

@media all and /*(orientation: landscape) and */(min-width: 60em)
{
    .ui-sitePage {width:70%;margin:0 auto 0 auto;}
    .ui-sitePage .ui-site-title,
    .ui-sitePage .ui-site-header,
    .ui-sitePage .ui-crud  {border-width:0.1em !important;}

    .ui-mainMenuToggle {display:none !important;}
    .ui-mainMenu {position:relative !important;display:block !important;float:left;width:25%;}
    .ui-mainMenu .ui-menuList .ui-menuSlide-backButton {position:relative;top:0;margin:0 0 0 0;}
    /*
    @media screen and (min-resolution: 300dpi), screen and (-webkit-min-device-pixel-ratio: 2)
    {

    }
        */
}


/* DIALOGS */
.ui-template-dialog {}
.ui-template-dialog .ui-template-dialogIcon {float:left;margin:0 1em 0 0;}