

.ui-breadcrumb {overflow:hidden;height:2.4em;}
.ui-breadcrumb .ui-breadcrumb-moveLeft , 
.ui-breadcrumb .ui-breadcrumb-path ,
.ui-breadcrumb .ui-breadcrumb-moveRight {padding:0.5em;cursor:pointer;float:left;}
.ui-breadcrumb .ui-breadcrumb-moveLeft  {margin:0.1em 0.5em 0em 0em;}
.ui-breadcrumb .ui-breadcrumb-path {white-space:nowrap; overflow-x:scroll;margin:0.1em 0 0 0em;}
.ui-breadcrumb .ui-breadcrumb-path .ui-icon {margin:0em 1em 0em 1em;}
.ui-breadcrumb .ui-breadcrumb-moveRight {float:right;margin:0.1em 0 0 0.5em;} 
