.ui-menuList {list-style-type:none;position:relative;margin:0 0 0 0;padding:0.5em 0.5em 0.5em 0.5em ;cursor:pointer;background-image:none !important;}
.ui-menuList ul{list-style-type:none;margin:0em 0em 0em 0em;padding:1.5em 0.5em 1.5em 0.5em;}
.ui-menuList li {margin:0.1em;padding:0em;position:relative;}
.ui-menuList li .ui-menuList-itemLink {padding:1em;position:relative;border-width:0;}
.ui-menuList li:first-letter {margin:0.1em 0.1em 0.1em 2em;}
.ui-menuList .ui-menuList-toggle{ height:1em;width:1em;margin:-0.1em 0 0 0 !important;background:none;}
.ui-menuList .ui-menuList-toggle span {top:0.5em; left:0.5em;}
.ui-menuList li .ui-menuList-toggle {margin:0em;cursor:pointer;float:right;border-width:0em;padding: 0.2em;}
.ui-menuList .ui-menuList-childs {border-width:0;background-image:none;}
.ui-menuList .ui-menuList-open { }
.ui-menuList .ui-menuList-item { }
.ui-menuList .ui-menuList-itemEmpty {height:1em;}
.ui-menuList .ui-sortable-placeholder {border-style:dashed; border-width:thin; min-height:4em;}
.ui-menuList .ui-sortable-helper {border-style:dashed !important; border-width:thin !important;} /* GENERIC FORM */ /* GENERIC FORM */

.ui-menuList .ui-menuSlide-backButton {padding:1em;}
.ui-menuList .ui-menuSlide-backButton.ui-helper-hidden {display:block;visibility:hidden;}
.ui-menuList .ui-menuSlide-backButton span {float:left;margin:0 0 0 0.5em;}


.ui-menuList .ui-menuList-slidesBox {position:relative;}
.ui-menuList .ui-menuList-slidesBox .ui-menuList-childs {}
.ui-menuList .ui-menuList-slidesBox .ui-menuList-childs.ui-menuList-childs-moving {position:absolute;top:0 !important;left:0% !important; min-height:100%;width:95%;overflow:visible !important;}

