/* Data lists Common */


.ui-widgetGrid {width:100%;background-image:none !important;}
.ui-widgetGrid a {text-decoration:underline !important;}
.ui-widgetGrid .ui-widgetGrid-body {width:100%;overflow:hidden;}
.ui-widgetGrid .ui-widgetGrid-row {font-weight:normal !important;padding:0 0 0 0;margin:.1em 0 .1em 0;}
.ui-widgetGrid .ui-widgetGrid-column {text-align:center;white-space:nowrap;font-weight:normal;background-image:none;}
.ui-widgetGrid .ui-widgetGrid-column-content {overflow:hidden;padding:0 .5em 0 .5em;width:95% !important;text-overflow: ellipsis;}
.ui-widgetGrid .ui-widgetGrid-emptyRow {padding:5em;text-align:center;background-image:none;}

.ui-widgetGrid .ui-widgetGrid-header {width:100%; padding:0.5em 0 0.5em 0;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column {text-align:center;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content {cursor:pointer;text-decoration:underline;font-weight:bold;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content div {width:auto;display: inline-block;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content span.ui-icon {float:left;margin:0 0.5em 0 0;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content button {margin:0; padding:0;background:none;border:0;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content button.ui-state-default {color:inherit;}
.ui-widgetGrid .ui-widgetGrid-header .ui-widgetGrid-column  .ui-widgetGrid-column-content button .ui-button-text {color:inherit;margin:0; padding:0;}
.ui-widgetGrid .ui-widgetGrid-body .ui-widgetGrid-row  {background-image:none;}
.ui-widgetGrid .ui-widgetGrid-body .ui-widgetGrid-row .ui-widgetGrid-column {padding-top:.5em;padding-bottom:.5em;}

/*
.ui-widgetGrid .ui-widgetGrid-pager {border:0 !important;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info {clear:both;padding:0.5em 0.5em 0em 0.5em;margin:0 0 0 0;border:0;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info table {width:100%;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-showPages{width:25%;vertical-align:middle;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-numbers {vertical-align:middle;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-numbers ul {margin:0 auto 0 auto;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-numbers ul li { text-align:center;float:left;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-numbers ul li button { min-width:2em;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-numbers ul li button span { padding:0.5em 0.2em 0.5em 0.2em;}
.ui-widgetGrid .ui-widgetGrid-pager .ui-widgetGrid-pager-Info .ui-widgetGrid-pager-totalPages{width:25%;text-align:right;vertical-align:middle;}
*/