<div class="ui-customerCrud ui-helper-hidden"></div>



<link href="/public/views/crud/crudSamples.css" rel="stylesheet" />
<script src="/public/views/crud/crudSamplesCustomerData.js"></script>
<script src="/public/views/crud/crudSamplesCustomerDefaultOptions.js"></script>
<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('body')
            .find('h1:first')
                .html('Crud - Search & paginate')
            .end()
            .find('div.ui-customerCrud:first')
                .crud(crudCustomerDefaultOptions())

                .hide()
                .removeClass('ui-helper-hidden')
                .fadeIn()
            .end();

    });

</script>