.ui-customerCrud .ui-crudGrid .ui-crudGrid-nombre {width:50% !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-nombre a {text-decoration:underline !important;}
.ui-customerCrud .ui-crudGrid .ui-crudGrid-NumDocumento {width:50% !important;text-align:right;}
