/*the code under this line works great on desktop & mobile but we have to calculate on resize the height of .ui-crudCrud-gridControl*/
.ui-crudCrud-gridControl {position:relative;height:380px;}
.ui-crudGrid-header {position:absolute; top:0em; left:0; height:2em; right:0;overflow:hidden;}
.ui-crudGrid-body {position:absolute; top:3.3em; bottom:6em; left:0; right:0; overflow:auto;}
.ui-crudGrid-body .ui-widgetGrid-emptyRow {}
.ui-crudGrid-pager-bottom {position:absolute; bottom:0; height:6em; left:0; right:0; overflow:hidden;}
.ui-crudGrid-pager-bottom .ui-gridPagination-navBar {}
.ui-crudGrid-pager-bottom .ui-gridPagination-totals {bottom:0;position:absolute;width:100%;}
.ui-widgetGrid-emptyRow {padding:0 0 0 0 !important;height:100%;display:table;width:100%;}
.ui-widgetGrid-emptyRow div {position:absolute;top:50%;left:45%;right:45%; width:10em;}
/*END -> the code above works great on mobile phone but not on desktop*/
