* { outline:transparent solid 0em;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
ul,ol {list-style:none;}
fieldset,img,hr{border:none;}
caption,th {text-align:left;}
td {vertical-align:top;}
hr {border-top-width:0.1em !important;border-bottom-width:0 !important;}
body{padding:0em 0.5em 0.5em 0.5em;border:0;font-size:1em !important; border:0 !important;}
pre.ui-widget-content{font-size:1em !important;padding:0.5em;}
select {padding:0.5em 0.5em 0.5em 0.5em;}
input[type=text], input[type=password], input[type=email], select {padding:0.5em 0em 0.5em 0.5em;margin:0 0 0 0;font-weight:normal !important;}
input[type=checkbox].ui-widget-content { border:0px solid transparent !important; }
input[type='radio'] {height:1em;width:1em;}
body{padding:0em;background-image:none !important;}
html, body {height:100%;}

/*.ui-state-default {background-image:none !important;}*/

.ui-wordWrap {white-space: pre-wrap;      /* CSS3 */              white-space: -moz-pre-wrap; /* Firefox */               white-space: -pre-wrap;     /* Opera 7 previous */              white-space: -o-pre-wrap;   /* Opera 7 */               word-wrap: break-word;      /* IE */        }
.ui-site-nameBox{font-size:1em;padding:0.5em;margin:0em;}
.ui-site-title {margin:0em 0em 0em 0em;padding:0.5em; text-align:center;}
.ui-site-title * {}
.ui-site-title h1{font-size: 1em;margin:0em;font-weight:normal;}
.ui-site-version {font-weight:normal;font-size:0.8em;margin:1em 0 0 0;text-align:center;position:absolute;bottom:0;width:99%;}
.ui-sitePage{display:table; width:100%; margin:0 auto 0 auto;}
.ui-widget {font-size:1em !important;}
/*.ui-widget-header {font-weight:bold;padding:0.2em 0.2em 0.5em 0.5em;}*/
.ui-dialog-content { padding:3em 0em 3em 1em !important; }
.ui-widget-boxButtons {float:right;margin:-1.7em 0 0 0;}
.ui-widget-collapse,.ui-widget-close{border:.1em solid;padding:.5em;cursor:pointer;float:left;margin:0 0.5em 0 0;display:none;}

/* menu toggle */
.ui-mainMenuToggle {display:block !important;cursor:pointer;}

/* header */
.ui-site-header {position: relative;margin:0em 0em 0em 0em ;padding:0.2em;}
.ui-site-header .ui-mainMenuToggle{float:right;margin:.2em .5em 0 .5em;width:6em;}
.ui-site-header .ui-mainMenuToggle .ui-mainMenuToggle-icon {float:left;}
.ui-site-header .ui-mainMenuToggle .ui-mainMenuToggle-text {float:left;margin:0.4em 0 0 0.5em;font-weight:normal;}

/* menu */

.ui-mainMenu { width:100%; padding:0em 0em 0em 0em !important; position:absolute !important;height:100%;border:0 !important;background-image:none !important;}
.ui-mainMenu .ui-treeList {border:0 !important;padding:0 !important;margin:1em 0 0 0;}
.ui-mainMenu .ui-treeList-toggle{margin:-0.45em 0.5em 0 0 !important;padding: 0.5em;border:0;}
.ui-mainMenu li { margin:0em !important;padding:1em 0.1em 1em 0.3em !important;background-image:none !important;border-left:none !important;border-right:none !important; border-bottom:none !important;}
.ui-mainMenu li ul {margin:0.1em 0.1em 0.1em 0.1em;padding:0.1em 0.1em 0.1em 0.3em;background-image:none;}
.ui-mainMenu li:first-letter { margin:0em 0em 0em 0.1em;}
.ui-mainMenu {margin:0 1em 0 0;position:absolute;left:0;display:none;}

.ui-mainMenu .ui-mainMenuToggle{float:right;margin: 1em 3em 0 0;}
.ui-mainMenu .ui-mainMenuToggle .ui-mainMenuToggle-icon {float:left;}
.ui-mainMenu .ui-mainMenuToggle .ui-mainMenuToggle-text {float:left;margin:0.4em 0 0 0.5em;font-weight:normal;}



@media all and (orientation: portrait)
{

}

@media all and (orientation: landscape) and (min-width: 60em)
{
    .ui-sitePage {width:70%;margin:0 auto 0 auto;}
    .ui-mainMenu {position:relative !important;display:block !important;float:left;width:25%;}
    .ui-mainMenuToggle {display:none !important;}


    @media screen and (min-resolution: 300dpi), screen and (-webkit-min-device-pixel-ratio: 2)
    {

    }
}


/* FOOTER */
.ui-siteFooter {}
.ui-siteFooter .ui-widget-header {padding: 1em 0em 1em 0em;text-align: center;line-height: normal;margin: 1em 0 0 0; }
.ui-siteFooter div.ui-widget-header div.ui-siteFooter-html5Logo {	margin:.5em 0 0 0; }

/* DIALOGS */
.ui-template-dialog {}
.ui-template-dialog .ui-template-dialogIcon {float:left;margin:0 1em 0 0;}
