<style type="text/css">
    .ui-themeSelector-container {
        padding: 1em;
        background-image: none !important;
    }

    .ui-themeSelector-container ul.ui-themeSelector-list {
        border-width: 0;
        width: 90% !important;
        padding: 0;
        margin: 0 auto 0 auto;
    }

    .ui-themeSelector-container ul.ui-themeSelector-list li {
        float: left;
    }

</style>

<div class="ui-themeSelector">
    <div class="ui-themeSelector-messages"></div>
    <div class="ui-themeSelector-container">
        <h3>Select your preferred theme</h3>
        <ul class="ui-themeSelector-list ui-menuTree ui-menuList ui-widget-content ui-corner-all" style="overflow: hidden;">
            {{#each itemList}}
            <li class="ui-menuList-item ui-widget-content ui-corner-all ui-state-default" data-theme-id="{{this.name}}">
                <img src="/public/images/jQueryUIThemes/{{this.icon}}" alt="{{this.name}}" title="{{this.name}}" />
            </li>
            {{/each}}
        </ul>
    </div>
</div>

