<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-arquia-talks-message-container ui-helper-hidden">
    <h3>{{{__ "Arquia.Talks.Message.Title"}}}</h3>
    <p>
        <i class="ui-arquia-talks-message-userIcon fa fa-file-text-o ui-state-default"></i>
        {{{__ "Arquia.Talks.Message.Description"}}}
    </p>
    <div class="ui-helper-clearfix"></div>
    <div class="ui-arquia-talks-boxError ui-state-error ui-helper-hidden"></div>
    <div class="ui-arquia-talks-boxInfo ui-state-highlight ui-helper-hidden"></div>
    <div class="ui-arquia-talks-message-window"></div>
    <div class="ui-arquia-talks-add-model"></div>
    <div class="ui-arquia-talks-message-inputBox-template ui-helper-hidden">
        <div class="ui-arquia-talks-message-inputBox">
            <div class="block-compose ui-widget-content">
                <button class="ui-button-smile ui-state-default"><i class="fa fa-smile-o"></i></button>
                <div class="input-container">
                    <div>
                        <div dir="auto" contenteditable="true" class="input" placeholder="Escribe un mensaje"></div>
                    </div>
                </div>
                <div class="ptt-container">
                    <span>
                        <button class="ui-button-micro ui-state-default"><i class="fa fa-microphone"></i></button>
                        <button class="ui-button-send ui-helper-hidden ui-state-default"><i class="fa fa-sign-in"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ui-helper-clearfix"></div>
