<link href="index.css" type="text/css" rel="stylesheet" />


<div class="ui-arquia-talks-message-container ui-helper-hidden">
    <div class="ui-arquia-talks-message-window">
        <div class="subject">
            <h3>{{{__ "Arquia.Talks.Message.Title"}}}</h3>
            <p>
                <i class="ui-arquia-talks-subject-userIcon fa fa-question-circle ui-state-default"></i>
                {{{__ "Arquia.Talks.Message.Description"}}}
            </p>
        </div>
    </div>
    <div class="ui-arquia-talks-add-model ui-widget-content"></div>
    
    <div class="ui-arquia-talks-message-inputBox-template ui-helper-hidden">
        <div class="ui-arquia-talks-message-inputBox">
            <div class="block-compose ui-widget-content">
                <div class="buttons-left table-cell">
                    <button class="ui-button-smile "><i class="fa fa-smile-o"></i></button>
                </div>
                <div class="input-container table-cell">
                    <div dir="auto" contenteditable="true" class="input" placeholder="Escribe un mensaje"></div>
                </div>
                <div class="buttons-right table-cell">
                    <span>
                        <button class="ui-button-micro "><i class="fa fa-microphone"></i></button>
                        <button class="ui-button-send ui-helper-hidden "><i class="fa fa-sign-in"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ui-helper-clearfix"></div>
