<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ui-helper-hidden">
        <h3>{{{__ "Helpdesk.Talks.Employee.Wellcome.Title"}}}</h3>
        <p>
            <i class="ui-helpdesk-talks-wellcome-userIcon fa fa-arrow-right ui-state-default"></i>
            {{{__ "Helpdesk.Talks.Employee.Wellcome.Description"}}}
        </p>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox ui-helper-hidden">
            <button class="ui-helpdesk-talks-wellcome-next">{{{__ "Helpdesk.Talks.Employee.Wellcome.Next"}}} <i class="fa fa-arrow-right "></i> </button>
        </div>
    </div>
</div>