<link href="index.css" type="text/css" rel="stylesheet" />
<div class="ui-helpdesk-talks">
    <div class="ui-helpdesk-talks-wellcome-container ui-helper-hidden">
        <h3>{{ this.viewModel.WhoYouAreMessage }} {{ this.viewModel.Employees.0.name}}</h3>
        <p>
            <!--<i class="ui-helpdesk-talks-wellcome-userIcon fa fa-arrow-right ui-state-default"></i>-->
            {{ this.viewModel.WellcomeMessage}}
        </p>
        <div class="ui-helpdesk-talks-wellcome-buttonsBox">
            <button class="ui-helpdesk-talks-wellcome-next">{{{__ "Helpdesk.Talks.Employee.Wellcome.Next"}}} <i class="fa fa-arrow-right "></i> </button>
        </div>
    </div>
</div>