<div class="ui-customerCrud ui-helper-hidden"></div>

<link href="/public/views/crud/crudSamples.css" rel="stylesheet" />
<link href="/public/views/crud/crudExpand/crudExpand.css" rel="stylesheet" />

<script src="/public/views/crud/crudSamplesCustomerData.js"></script>
<script src="/public/views/crud/crudSamplesCustomerDefaultOptions.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {

        var customerOptions = jQuery.extend({}, crudCustomerDefaultOptions(), {
            gridPagerInit: function () {
                return {
                    pageSize: 30,
                };
            },
        });

        jQuery('body')
            .find('h1:first')
                .html('Crud widget - Grid expands to window height')
            .end()
            .find('div.ui-customerCrud:first')
                .crud(customerOptions)

                .hide()
                .removeClass('ui-helper-hidden')
                .fadeIn()
            .end();
    });

</script>