.ui-customerCrud {position:relative;top:0;width:100%;top:0em;bottom:0em;}
.ui-crudGrid-header {position:absolute; top:4em; left:0; height:2em; right:0;overflow:hidden;}
.ui-crudGrid-body {position:absolute; top:7.3em; bottom:6em; left:0; right:0; overflow:auto;}
.ui-crudGrid-body .ui-widgetGrid-emptyRow {height:99.9%;}
.ui-crudGrid-pager-bottom {position:absolute; bottom:0; height:6em; left:0; right:0; overflow:hidden;width:99%;}
.ui-crudGrid-pager-bottom .ui-gridPagination-navBar {}
.ui-crudGrid-pager-bottom .ui-gridPagination-totals {bottom:0;position:absolute;width:100%;}
.ui-widgetGrid-emptyRow {padding:0 0 0 0 !important;height:100%;display:table;width:100%;}
.ui-widgetGrid-emptyRow div {vertical-align:middle;display:table-cell;}