
<div class="ui-cirDataEntry">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>



<br />
<div class="ui-cirDataEntryExtended">
    <div class="ui-productCrud ui-helper-hidden"></div>
    <div class="ui-customerCrud ui-helper-hidden"></div>
</div>