<div class="ui-cirDataEntry">
    <div class="ui-productCrud ui-hidden"></div>
    <div class="ui-customerCrud ui-hidden"></div>
</div>


<div id="homeForms" class="ui-hidden">
    <div id="modelContainer"></div>
    <div id="modelButtons">
        <button>Get Values</button>
    </div>
</div>
