<div id="homeForms">

    <div id="uiControls"
         class="ui-widgetModel ui-corner-all ui-widget-content" 
         data-widget="widgetBase" 
         data-widget-allowClose="true" 
         data-widget-allowCollapse="true" 
         data-widget-isCollapsed="false" 
         data-widget-jsOnCollapse="console.log(this);">
    </div>

    <br />


    <button id="pp">hola</button>

    <div id="formwidgetModelItems"
         class="ui-widgetModel ui-corner-all ui-widget-content" 
         data-widget="widgetBase" 
         data-widget-allowClose="true" 
         data-widget-allowCollapse="true" 
         data-widget-isCollapsed="true" 
         data-widget-jsOnCollapse="">
        <div class="ui-corner-top ui-widget-header">
            Demo Form Item UI Controls
        </div>
        <div class="ui-corner-bottom ui-widget-content ui-widgetModel-content">

            
            <!--<div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeDate '>
                <div class='ui-widgetModel-inputLabel'>Fecha de creación</div>
                <div class='ui-widgetModel-inputValue'>
                    <input data-value="09/02/2015"
                            data-widget="widgetModelItemDate"
                            id="SomeDate"
                            name="SomeDate"
                            type="text" />
                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>-->

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeDouble ui-state-error ui-corner-all'>
                <div class='ui-widgetModel-inputLabel'>Some Double Value </div>
                <div class='ui-widgetModel-inputValue'>
                    <input class="input-validation-error ui-widget-content ui-corner-all" id="SomeDouble" name="SomeDouble" type="text" value="67,89dsf" />
                </div>
                <div class='ui-widgetModel-inputError '>
                    <div><span class="field-validation-error">The value &#39;67,89dsf&#39; is not valid for Some Double Value.</span></div>
                </div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeBoolean '>
                <div class='ui-widgetModel-inputLabel'>Some Boolean Value </div>
                <div class='ui-widgetModel-inputValue'>

                    <div data-widget="ui-widgetModelItemBool" data-widget-nullable="false">
                        <button class="ui-button-icon-only ui-button ui-state-default ui-corner-all" 
                                data-textOnly="true" 
                                data-widget="widgetButton" 
                                type="button">
                            <span class="ui-button-text">&nbsp;</span>
                            <span class="ui-icon-closethick ui-button-icon-primary ui-icon"></span>
                        </button>
                        <input id="SomeBoolean" name="SomeBoolean" type="checkbox" value="true" />
                        <input name="SomeBoolean" type="hidden" value="false" />
                    </div>

                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeBooleanNullable '>
                <div class='ui-widgetModel-inputLabel'>Some Boolean Nullable </div>
                <div class='ui-widgetModel-inputValue'>

                    <div data-widget="ui-widgetModelItemBool" class="ui-widgetModelItemBool" data-widget-nullable="true">
                        <button class="ui-button-icon-only ui-widgetButton ui-button ui-widget ui-state-default ui-corner-all" data-textonly="true" data-widget="widgetButton" type="button"><span class="ui-button-text">&nbsp;</span><span class="ui-icon-help ui-button-icon-primary ui-icon"></span></button>

                        <input id="SomeBooleanNullable" name="SomeBooleanNullable" type="checkbox" value="true" />
                        <input name="SomeBooleanNullable" type="hidden" value="" />
                    </div>

                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeStringArray '>
                <div class='ui-widgetModel-inputLabel'>Some String Array </div>
                <div class='ui-widgetModel-inputValue'>
                    <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeStringArray '>
                        <div class='ui-widgetModel-inputLabel'><label>Administrator</label></div>
                        <div class='ui-widgetModel-inputValue '>
                            <div data-widget='ui-widgetModelItemBool' class='ui-widgetModelItemBool'>
                                <input type='checkbox' id='SomeStringArray_Administrator' name='SomeStringArray' value='Administrator' />
                                <button class="ui-button-icon-only ui-widgetButton ui-button ui-widget ui-state-default ui-corner-all" data-checkboxid="SomeStringArray_Administrator" data-textonly="true" data-widget="widgetButton" type="button"><span class="ui-button-text">&nbsp;</span><span class="ui-icon-closethick ui-button-icon-primary ui-icon"></span></button>
                            </div>
                        </div>
                        <div class='ui-widgetModel-inputError ui-hidden'></div>
                        <div class='ui-carriageReturn'></div>
                    </div>
                    <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeStringArray '>
                        <div class='ui-widgetModel-inputLabel'><label>Guest</label></div>
                        <div class='ui-widgetModel-inputValue '>
                            <div data-widget='ui-widgetModelItemBool' class='ui-widgetModelItemBool'>
                                <input type='checkbox' id='SomeStringArray_Guest' name='SomeStringArray' value='Guest' />
                                <button class="ui-button-icon-only ui-widgetButton ui-button ui-widget ui-state-default ui-corner-all" data-checkboxid="SomeStringArray_Guest" data-textonly="true" data-widget="widgetButton" type="button"><span class="ui-button-text">&nbsp;</span><span class="ui-icon-closethick ui-button-icon-primary ui-icon"></span></button>
                            </div>
                        </div>
                        <div class='ui-widgetModel-inputError ui-hidden'></div>
                        <div class='ui-carriageReturn'></div>
                    </div>
                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeStringArrayII '>
                <div class='ui-widgetModel-inputLabel'>Another String Array </div>
                <div class='ui-widgetModel-inputValue'>
                    <select id="SomeStringArrayII" name="SomeStringArrayII">
                        <option selected="selected" value="Administrator">Administrator</option>
                        <option value="Guest">Guest</option>
                    </select>
                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div data-widget='widgetModelItem' class='ui-widgetModelItem ui-widgetModel-SomeStringArrayII '>
                <div class='ui-widgetModel-inputLabel'>Another String Array </div>
                <div class='ui-widgetModel-inputValue'>
                    <div class='ui-widget-radioHorizontal'>
                        <div><label for="SomeStringArrayIII_Administrator" for="SomeStringArrayIII">Administrator</label></div>
                        <input checked="checked" id="SomeStringArrayIII_Administrator" name="SomeStringArrayIII" type="radio" value="Administrator" />
                    </div>
                    <div class='ui-widget-radioHorizontal'>
                        <div><label for="SomeStringArrayIII_Guest" for="SomeStringArrayIII">Guest</label></div>
                        <input id="SomeStringArrayIII_Guest" name="SomeStringArrayIII" type="radio" value="Guest" />
                    </div>
                </div>
                <div class='ui-widgetModel-inputError ui-hidden'></div>
                <div class='ui-carriageReturn'></div>
            </div>

            <div class="ui-widgetModel-buttons ui-widgetModelItem">
                <button class="ui-button-text-icon-primary ui-widgetButton ui-button ui-widget ui-state-default ui-corner-all" data-widget="widgetButton" type="submit"><span class="ui-button-text">Aceptar</span><span class="ui-icon-alert ui-button-icon-primary ui-icon"></span></button>
                <button class="ui-button-text-icon-primary ui-widgetButton ui-button ui-widget ui-state-default ui-corner-all" data-widget="widgetButton" type="button"><span class="ui-button-text">Validar</span><span class="ui-icon-alert ui-button-icon-primary ui-icon"></span></button>
            </div>

        </div>
    </div>

</div>

<!--<form action="/Test" class="ui-widgetModel" id="formwidgetModelItems" method="post" name="formwidgetModelItems">-->


<!--</form>-->