<div class="ui-cirDataEntry">

    <div class="ui-productCrud ui-hidden">

        <!--
        <div class="ui-productCrud-filter ">
            <div>
                <h3 class="ui-state-default">Filtrar por persona/cliente</h3>
                <div data-fielditem="customerId" data-fielditem-name="Cliente">
                    <span class="ui-productCrud-filter-custId ui-hidden"></span>
                    <a href="javascript:void(0);" class="ui-productCrud-filter-custName"></a>
                    <div class="ui-productCrud-filter-removeCustomerIcon ui-state-error">
                        <span class="ui-icon ui-icon-trash"></span>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="ui-state-default">Filtrar por producto</h3>
                <input data-fielditem="productId" data-fielditem-name="Num. Producto" />
                <select data-fielditem="productType" data-fielditem-name="Tipo"></select>
            </div>
        </div>
        <div class="ui-productCrud-grid">
            <div class="ui-productCrud-gridButtons"></div>
            <div class="ui-productCrud-gridControl"></div>
        </div>
        

        <div class="ui-productCrud-form">
            <div class="ui-productCrud-form-searchOutput">
                <h3 class="ui-state-default">Información básica</h3>
                <div data-fielditem="nombre" data-fielditem-name="Nombre/Razón Social"></div>
                <div data-fielditem="productId" data-fielditem-name="Num. Producto"></div>
                <div data-fielditem="productTypeDesc" data-fielditem-name="Producto"></div>
                <div data-fielditem="fechaDesde" data-fielditem-name="Fecha desde"></div>
                <div data-fielditem="fechaHasta" data-fielditem-name="Fecha hasta"></div>
            </div>
            <div class="ui-productCrud-form-type">
                <h3 class="ui-state-default">Información detallada del préstamo</h3>
                <input data-fielditem="someEditInt" data-fielditem-name="Some Edit Prop" />
            </div>
        </div>
        -->


    </div>

    <div class="ui-customerCrud ui-hidden">

        <!--<div class="ui-customerCrud-filter ">
            <input data-fielditem="nombre" data-fielditem-name="Nombre / Razón Social" />
            <input data-fielditem="dni" data-fielditem-name="Nº Documento" />
        </div>
        <div class="ui-customerCrud-gridButtons"></div>
        <div class="ui-customerCrud-gridControl"></div>
        -->

    </div>

</div>


<div id="homeForms" class="ui-hidden">
    <div id="modelContainer"></div>
    <div id="modelButtons">
        <button>Get Values</button>
    </div>
</div>
