<style type="text/css">
    .ui-lazyLoading-desc {margin:0 0 0 0; font-weight:normal !important; padding:0.5em 0.5em 0.5em 0.5em;}
</style>

<p class="ui-lazyLoading-desc ui-state-default">
    {{{__ "Views.Crud.CrudPaginationLazyLoading.Description"}}}
</p>
<div class="ui-customerCrud ui-helper-hidden"></div>
<link href="../crudCommon/crudSamples.css" rel="stylesheet" />