<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-arquia-talks-subject-container ui-helper-hidden">
    <h3>{{{__ "Arquia.Talks.Subject.Title"}}}</h3>
    <p>
        <i class="ui-arquia-talks-subject-userIcon fa fa-question-circle ui-state-default"></i>
        {{{__ "Arquia.Talks.Subject.Description"}}}
    </p>
    <div class="ui-helper-clearfix"></div>
    <div class="ui-arquia-talks-boxError ui-state-error ui-helper-hidden"></div>
    <div class="ui-arquia-talks-boxInfo ui-state-highlight ui-helper-hidden"></div>
    <div class="ui-arquia-talks-add-model"></div>
    <div class="ui-helper-clearfix"></div>
    <div class="ui-arquia-talks-subject-buttonsBox">
        <button class="ui-arquia-talks-subject-next">{{{__ "Arquia.Talks.Wellcome.Next"}}}</button>
    </div>
</div>
<div class="ui-helper-clearfix"></div>
