<style type="text/css">
    .ui-menuSlides-contentPage {
        padding: 1em;
        background-image: none !important;
    }

    .ui-menuSlides-contentPage div.ui-menuSlidesSample {
        border-width: 0;
    }

    .ui-menuSlides .ui-treeList-childs {
        padding: 0;
        margin: 0;
    }
</style>

<div class="ui-menuSlides-contentPage">
    <h3>Menu slides mode</h3>
    <div class="ui-menuSlidesSample ui-helper-hidden"></div>
</div>