<link href="index.css" type="text/css" rel="stylesheet" />

<div class="ui-helpdesk-talks-subject-container ui-helper-hidden">
    <p>
        <!--<i class="ui-hidden ui-helpdesk-talks-subject-userIcon fa fa-question-circle ui-state-default"></i>-->
        {{{__ "Helpdesk.Talks.Subject.Description"}}}
    </p>
    <div class="ui-helper-clearfix"></div>
    <div class="ui-helpdesk-talks-boxError ui-state-error ui-helper-hidden"></div>
    <div class="ui-helpdesk-talks-boxInfo ui-state-highlight ui-helper-hidden"></div>
    <div class="ui-helpdesk-talks-add-model"></div>
    <div class="ui-helper-clearfix"></div>
    <div class="ui-helpdesk-talks-subject-buttonsBox">
        <button class="ui-helpdesk-talks-subject-next">{{{__ "Helpdesk.Talks.Wellcome.Next"}}}</button>
    </div>
</div>
<div class="ui-helper-clearfix"></div>
